---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Life Events">
  <div class="max-w-4xl mx-auto px-4 py-20 space-y-8">
    <h1 class="theme-display-font text-5xl md:text-6xl font-bold text-[var(--ink)]">Life Events</h1>
    <div class="bg-white border-2 border-[var(--ink)] p-8 space-y-3">
      <p class="text-[var(--ink)]/90">For information about baptisms, weddings, and funerals:</p>
      <p><a href="https://www.melksham.church/life-events" class="underline decoration-[var(--eden)] underline-offset-4">melksham.church/life-events</a></p>
      <p><a href="https://www.stjohnschap.co.uk/what-we-do/celebrating-new-birth/" class="underline decoration-[var(--eden)] underline-offset-4">stjohnschap.co.uk/what-we-do/celebrating-new-birth</a></p>
    </div>
  </div>
</Layout>
