---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Life Events">
  <div class="max-w-4xl mx-auto px-4 py-20 space-y-8">
    <h1 class="font-['Newsreader'] text-5xl md:text-6xl font-bold text-[#0F2830]">Life Events</h1>
    <div class="bg-white border-2 border-[#0F2830] p-8 space-y-3">
      <p class="text-[#0F2830]/90">For information about baptisms, weddings, and funerals:</p>
      <p><a href="https://www.melksham.church/life-events" class="underline decoration-[#45B074] underline-offset-4">melksham.church/life-events</a></p>
      <p><a href="https://www.stjohnschap.co.uk/what-we-do/celebrating-new-birth/" class="underline decoration-[#45B074] underline-offset-4">stjohnschap.co.uk/what-we-do/celebrating-new-birth</a></p>
    </div>
  </div>
</Layout>
