---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Safeguarding">
  <div class="max-w-5xl mx-auto px-4 py-20 space-y-8">
    <h1 class="font-['Newsreader'] text-5xl md:text-6xl font-bold text-[#0F2830]">Safeguarding</h1>

    <section class="bg-white border-2 border-[#0F2830] p-8 space-y-4">
      <p class="text-lg text-[#0F2830]/90">St John's is committed to high standards in the safeguarding and care of children and vulnerable adults.</p>
      <p class="text-[#0F2830]/90">To request our safeguarding policy, please <a href="/contact" class="underline decoration-[#45B074] underline-offset-4">contact us</a>.</p>
      <p class="text-[#0F2830]/90">The Diocese of Sheffield's Safeguarding Adviser is Siân Checkley. Contact: 01709 309100 or 07741 013775, or email <a href="mailto:sian.checkley@sheffield.anglican.org" class="underline decoration-[#45B074] underline-offset-4">sian.checkley@sheffield.anglican.org</a>.</p>
      <p class="text-[#0F2830]/90">Diocese safeguarding information: <a href="https://www.sheffield.anglican.org/support/safeguarding" class="underline decoration-[#45B074] underline-offset-4">sheffield.anglican.org/support/safeguarding</a></p>
    </section>
  </div>
</Layout>
